body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
}

.app {
  max-width: 500px;
  margin: 60px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
}

.card {
  background: #1f2937;
  padding: 20px;
  border-radius: 10px;
}
